body {
    background-color: #efece2 !important;
    color: #10222f !important;
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
}

.titulo-cursivo {
    font-family: "Edu AU VIC WA NT Hand", cursive !important;
}

.nav-bar-default {
    background-color: #10222f !important;
}

.nav-link {
    color: #efece2 !important;
    font-weight: bold;
}

.nav-link:hover {
    color: gold !important;
    transform: scale(1.1);
}

.hero-bg {
    background-image: url('../imagens/hero.jpg') !important;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.filter {
    -webkit-backdrop-filter: brightness(0.1);
    backdrop-filter:blur(4px);
    min-height: 80vh !important;

}

.bg-hero-sub {
    background-color: #10222fbf;
    width: 100% !important;
    min-height: 80vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white !important;
}

.navbar-toggler {
    background-color: white;
}

.img-perfil, 
.img-perfil-mobile {
    height: 500px;
    width: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow:4px 5px 4px black;
}

.img-perfil-mobile {
    display: none;
}

@media screen and (max-width: 992px) {
    .img-perfil-mobile {
        display: block !important;
    }

    .img-perfil, .img-perfil-box {
        display: none !important;
    }
}



@media screen and (max-width: 375px) {
    .img-perfil-mobile {
        display: none !important;
    }

    .img-perfil, .img-perfil-box {
        display: none !important;
    }
    .font-responsive {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 425px) {
   
    .font-responsive {
        font-size: 15px !important;
    }
}



.hero-section {
    background-color: #10222f;
    padding: 60px 0;
}
.hero-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
.hero-subtitle {
    font-size: 1.25rem;
    color: white;
}
.card-body ul {
    list-style: square;
    padding-left: 10px;
}
.card-body ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #495057;
}

.card-depoimento {
    min-height: 222px;
}

.bg-default {
    background-color: #10222f;
}

.card-finalizacao {
    min-height: 50vh;
}

.hero-contact {
    min-height: 100vh; /* Garante que a seção ocupe a altura total da tela */
    display: flex;
    align-items: center;
    padding: 0; /* Remove o padding para garantir que a altura seja completamente usada */
}
.hero-contact .container {
    height: 100%; /* Garante que a altura do container seja a mesma que a altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
}
.hero-contact .row {
    width: 100%;
    height: 100%; /* Garante que a altura da linha ocupe a altura total do container */
}
.hero-contact .col-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Garante que a altura da coluna ocupe a altura total da linha */
}
.hero-contact h2 {
    color: #343a40;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem; /* Ajuste o tamanho conforme necessário */
    font-weight: bold;
}
.btn-whatsapp {
    background-color: #25D366;
    color: white;
    border-color: #25D366;
}
.btn-whatsapp:hover {
    background-color: #1ebe5e;
    border-color: #1ebe5e;
}
.form-container {
    background-color: #10222f;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%; /* Garante que a altura do contêiner do formulário ocupe a altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-control {
    border-radius: 8px;
}
@media (max-width: 768px) {
    .hero-contact h2 {
        font-size: 2rem; /* Ajusta o tamanho do título em telas menores */
    }
}
